.env
evalbench.db
.DS_Store
web/.DS_Store

__pycache__/
*.py[cod]
.Python
.venv/
venv/
env/

.pytest_cache/
web/node_modules/
web/.next/

backend/lambda-package/
backend/lambda-deployment.zip

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
web/out/
